<div class="topBanner">
    <div class="hidden-xs col-sm-6 col-md-7 col-lg-7">
        <div class="bannerLeft">
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
        <div class="bannerRight">
            <form action="" class="bannerForm form-group-lg col-md-10 col-sm-10 col-lg-10" method="post" role="form">
                <div class="loginWord">
                    <p>
                        登录客栈
                    </p>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="用户名" type="text"/>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="密码" type="text"/>
                </div>
                <div class="checkbox" style="height: 20px;">
                    <label class="col-md-4">
                        <input type="checkbox"/>
                        记住我
                    </label>
                    <a class="col-md-8 pull-right forgetPwd" href="###">
                        忘记密码!
                    </a>
                </div>
                <div class="form-group">
                    <input class="form-control btn btn-primary" type="button" value="登录"/>
                </div>
            </form>
        </div>
    </div>
</div>
<!--中间内容部分-->
<div class="content">
    <div class="container">
        <!--左边内容部分-->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 contentLeft">
            <!--左边上部分内容-->
            <div class="row" style="background: white;margin-top: 40px;">
                <div class="product">
                    <h4>
                        项目速递
                    </h4>
                </div>
                <div class="col-xs-12 col-sm-12 productShow_a">
                    <div class="carousel slide" data-ride="carousel" id="myCarousel">
                        <!--设置轮播图片-->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="row">
                                    <!--中屏幕以上显示图片等比缩放-->
                                    <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
                                        <div class="thumbnail">
                                            <a href="###">
                                                <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="width: 100%;height: 262px;display: block;"/>
                                                <div class="proIntroduce col-sm-12 col-md-12">
                                                    <h3>
                                                        <a href="">
                                                            MIC3人行
                                                        </a>
                                                    </h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!--小屏幕显示图片等比缩放-->
                                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                        <div class="thumbnail">
                                            <a href="###">
                                                <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="width: 100%;height: 503px;display: block;"/>
                                                <div class="proIntroduce col-xs-12">
                                                    <h3>
                                                        <a href="">
                                                            MIC3人行
                                                        </a>
                                                    </h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
                                        <div class="thumbnail">
                                            <a href="">
                                                <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="width: 100%;height: 262px;display: block;"/>
                                                <div class="proIntroduce col-sm-12 col-md-12">
                                                    <h3>
                                                        <a href="">
                                                            MIC3人行
                                                        </a>
                                                    </h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                        <div class="thumbnail">
                                            <a href="###">
                                                <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="width: 100%;height: 503px;display: block;"/>
                                                <div class="proIntroduce col-xs-12">
                                                    <h3>
                                                        <a href="">
                                                            MIC3人行
                                                        </a>
                                                    </h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
                                        <div class="thumbnail">
                                            <a href="">
                                                <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="width: 100%;height: 262px;display: block;"/>
                                                <div class="proIntroduce col-sm-12 col-md-12">
                                                    <h3>
                                                        <a href="">
                                                            MIC3人行
                                                        </a>
                                                    </h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                        <div class="thumbnail">
                                            <a href="###">
                                                <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="width: 100%;height: 503px;display: block;"/>
                                                <div class="proIntroduce col-xs-12">
                                                    <h3>
                                                        <a href="">
                                                            MIC3人行
                                                        </a>
                                                    </h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
                                        <div class="thumbnail">
                                            <a href="">
                                                <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="width: 100%;height: 262px;display: block;"/>
                                                <div class="proIntroduce col-sm-12 col-md-12">
                                                    <h3>
                                                        <a href="">
                                                            MIC3人行
                                                        </a>
                                                    </h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                        <div class="thumbnail">
                                            <a href="###">
                                                <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="width: 100%;height: 503px;display: block;"/>
                                                <div class="proIntroduce col-xs-12">
                                                    <h3>
                                                        <a href="">
                                                            MIC3人行
                                                        </a>
                                                    </h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
                                        <div class="thumbnail">
                                            <a href="">
                                                <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="width: 100%;height: 262px;display: block;"/>
                                                <div class="proIntroduce col-sm-12 col-md-12">
                                                    <h3>
                                                        <a href="">
                                                            MIC3人行
                                                        </a>
                                                    </h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                        <div class="thumbnail">
                                            <a href="###">
                                                <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="width: 100%;height: 503px;display: block;"/>
                                                <div class="proIntroduce col-xs-12">
                                                    <h3>
                                                        <a href="">
                                                            MIC3人行
                                                        </a>
                                                    </h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
                                        <div class="thumbnail">
                                            <a href="">
                                                <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="width: 100%;height: 262px;display: block;"/>
                                                <div class="proIntroduce col-sm-12 col-md-12">
                                                    <h3>
                                                        <a href="">
                                                            MIC3人行
                                                        </a>
                                                    </h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                        <div class="thumbnail">
                                            <a href="###">
                                                <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="width: 100%;height: 503px;display: block;"/>
                                                <div class="proIntroduce col-xs-12">
                                                    <h3>
                                                        <a href="">
                                                            MIC3人行
                                                        </a>
                                                    </h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--设置图片轮播的顺序-->
                        <ol class="carousel-indicators circle">
                            <li class="active" data-slide-to="0" data-target="#myCarousel">
                            </li>
                            <li data-slide-to="1" data-target="#myCarousel">
                            </li>
                            <li data-slide-to="2" data-target="#myCarousel">
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
            <!--左边下部分内容-->
            <div class="row" style="background: white;margin-top: 40px;">
                <div class="product">
                    <h4>
                    	 热门项目
                        <span class="more">
                            <a href="">
                            	 更多«
                            </a>
                        </span>
                    </h4>
                </div>
                <div class="productShow_b">
                    <!--不同屏幕大小下图片等比缩放，不拉伸变形-->
                    <div class="hidden-xs hidden-sm col-md-4 col-lg-4 project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 185px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-6 hidden-md hidden-lg project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 262px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 503px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-4 col-lg-4 project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 185px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p> 
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-6 hidden-md hidden-lg project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 262px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 503px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-4 col-lg-4 project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 185px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-6 hidden-md hidden-lg project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 262px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 503px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-4 col-lg-4 project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 185px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-6 hidden-md hidden-lg project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 262px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 503px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-4 col-lg-4 project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 185px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-6 hidden-md hidden-lg project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 262px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 503px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-4 col-lg-4 project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 185px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-6 hidden-md hidden-lg project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 262px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg project">
                        <a href="###">
                            <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg" style="display: block;width: 100%;height: 503px;"/>
                        </a>
                        <div class="caption">
                            <a href="">
                                MIC项目
                            </a>
                            <p>
                            	发布：萝卜丝
                                <span>
                                    2016.12.21
                                </span>
                            </p>
                            <p>
                            	金额：$$$
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--内容右边部分-->
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 contentRight pull-right">
            <div class="row">
                <div class="product">
                    <h4>热门标签</h4>
                </div>
                <div class="classify">
                    <h5>分类</h5>
                    <a href="">通信网</a>
                    <a href="">招聘网</a>
                    <a href="">建筑工程</a>
                    <a href="">电商平台</a>
                    <a href="">公司官网</a>
                </div>
                <div class="classify">
                    <h5>分类</h5>
                    <a href="">通信网</a>
                    <a href="">招聘网</a>
                    <a href="">建筑工程</a>
                    <a href="">电商平台</a>
                    <a href="">公司官网</a>
                </div>
                <div class="classify">
                    <h5>分类</h5>
                    <a href="">通信网</a>
                    <a href="">招聘网</a>
                    <a href=""> 建筑工程</a>
                    <a href=""> 电商平台</a>
                    <a href=""> 公司官网</a>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 blank">
        </div>
    </div>
</div>
