		<script>
			var prejectId = '<?php echo arRequest('id');?>';
		</script>
			
		<!--主题内容部分-->
		<div class="container substance">
		    <!--主题内容左边部分-->
		    <div class="container_left col-md-8 col-lg-8">
		        <div class="row">
		            <div class="col-xs-7 col-sm-4 col-md-8 col-lg-8">
		                <h3>
		                   MIC项目开发
		                </h3>
		            </div>
		            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 pull-right" style="text-align: center">
		                <div class="concern">
		                    <a href="###">
		                        <span class=" glyphicon glyphicon-star star">
		                        </span>
		                        <span>
		                        	关注
		                        </span>
		                    </a>
		                </div>
		            </div>
		        </div>
		        <div class="row item_project">
		            <div class="col-sm-6 col-xs-5 col-md-6 col-lg-5">
		                <div class="item_user_img">
		                    <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg"/>
		                </div>
		                <div class="item_user_box1">
		                    <div>
		                        <a href="###">码云科技</a>
		                        <a class="report" href="###">
		                            [举报]
		                        </a>
		                    </div>
		                    <div class="stem_from">
		                        <span class="identity">
		                        	身份：个人
		                        </span>
		                        <sapn>
		                        	来自：未填写
		                        </sapn>
		                    </div>
		                </div>
		            </div>
		            <div class="col-sm-6 col-xs-5 col-md-6 col-lg-5 pull-right" style="padding-left: 50px;">
		                <div class="item_user_img">
		                    <img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/Mic_logo.jpg"/>
		                </div>
		                <div class="item_user_box2">
		                    <div>
		                    	项目经理：MIC
		                    </div>
		                    <div>
		                    	手机：12345678901
		                    </div>
		                    <div>
		                        QQ:123456789
		                    </div>
		                </div>
		            </div>
		        </div>
		        <!--项目信息-->
		        <div class="row item_information">
		            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 item_classify">
		                	项目名:
		                </div>
		                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 item_classify">
		                	项目预算：
		                	
		                </div>
		                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 item_classify">
		                	项目大类：未分类
		                </div>
		                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 item_classify">
		                	发布时间：
		                	
		                </div>
		                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 item_classify">
		                	已有分析：1份
		                </div>
		                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 item_classify">
		                	项目小类：未分类
		                </div>
		            </div>
		            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 project_profile">
		                <h5>
		                	项目简介：
		                </h5>
		                <p>
		                    mic项目开发
		                </p>
		            </div>
		            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 project_element">
		                <h5>
		                	 项目组件
		                </h5>
		                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 project_element-info">
		                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		                    	组件名称
		                    </div>
		                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		                    	内容或说明
		                    </div>
		                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		                    	加送
		                    </div>
		                    <!--<div class="col-md-3 col-lg-3"></div>-->
		                </div>
		                <div class="clearfix">
		                </div>
		                <div class="" style="margin-top: 10px;">
		                    <p>
		                    	 组件总数：
		                        <span>
		                            0
		                        </span>
		                        	个
		                    </p>
		                    <p>
		                    	参考保价：
		                        <span>
		                            0.00
		                        </span>
		                    		元
		                    </p>
		                </div>
		            </div>
		            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 project_description">
		                <h5>
		                	 项目描述：
		                </h5>
		                <p>
		                	项目发展圣诞节啊手机卡建设大街
		                </p>
		            </div>
		        </div>
		        <!--项目职位-->
		        <div class="row item_position">
		            <h4>
		            	 项目职位
		            </h4>
		            <hr/>
		            <div class="col-sm-12 col-md-12 col-lg-12">
		                <div class="col-sm-3 col-md-3 col-lg-3">
		                    xxx
		                </div>
		                <div class="col-sm-2 col-md-2 col-lg-2">
		                	 需要
		                    <span>
		                        0
		                    </span>
		                    	人
		                </div>
		                <div class="col-sm-2 col-md-2 col-lg-2">
		                	酬劳：
		                    <span>
		                        0
		                    </span>
		                    	元
		                </div>
		            </div>
		        </div>
		        <!--项目日志-->
		        <div class="row item_log">
		            <h4>
		            	项目日志
		            </h4>
		            <hr/>
		            <!--日内容盒子-->
		            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 log_box">
		                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item_user_log">
		                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
		                    	张三
		                    </div>
		                    <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
		                    	参与了项目分析
		                    </div>
		                </div>
		                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item_user_log">
		                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
		                    	李四
		                    </div>
		                    <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
		                    	向系统提交了项目
		                    </div>
		                </div>
		                <!--增加日志弹出层-->
		                <div class="add_log_box">
		                    <div>
		                        <span class="red_star">
		                            *
		                        </span>
		               			填写人：
		                        <input class="log_name" type="text">
		                        </input>
		                    </div>
		                    <div style="margin-top: 10px;">
		                        <div style="display: block;">
		                            <span class="red_star">
		                                *
		                            </span>
		                           	日志内容：
		                        </div>
		                        <textarea class="log_content" style="width: 400px;height: 150px;">
		                        </textarea>
		                    </div>
		                    <button class="add_btn" type="button">
		                    	增加
		                    </button>
		                </div>
		            </div>
		            <!--日志增加提交按钮-->
		            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
		                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: right;">
		                    <button class="add_log" type="button">
		                    	增加日志
		                    </button>
		                </div>
		                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		                    <button class="submit_log" type="button">
		                    	提交日志
		                    </button>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!--主题内容右边部分-->
		    <div class="container_right col-xs-12 col-sm-12 col-md-3 col-lg-3 pull-right">
		        <div class="members">
		            <div class="row">
		                <h4>
		                	项目成员
		                </h4>
		            </div>
		            <div class="pro_members">
		            
		            </div>
		        </div>
		        <div id="projectUserInfos" style="display: none;">
		        	<div class="row">
		        		<div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 pro_photo">
		        			<img src="srcphoto"/>
		        		</div>
		        		<div class="col-xs-3 col-sm-3 col-md-4 col-lg-4 pro_user" data-tel="userTel" data-id="userId">
		        			projectUserName
		        		</div>
		        		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 pro_position">
		        			<!--porjectUserPosition-->
		        		</div>
		        	</div>
		        </div>
		        <!--发送消息内容弹出层-->
		        <div class="info_box">
		        	<!--<div class="myTips"></div>-->
		            <div>
		            	收信人：
		                <div class="pepole" data-tell="userTell">
		                	
		                </div>
		            </div>
		            <div class="send_content">
		                <span>
		                	内容
		                </span>
		                <textarea class="info_box_text"></textarea>
		            </div>
		            <div class="send_btn">
		                <button class="btn btn-primary" type="button">
		                	发送
		                </button>
		            </div>
		        </div>
		    </div>
		</div>

<script type="text/javascript">
	window.onload = function(){
		lq_projectInfoJs();
	}
	
</script>