<?php //ArView::load('mine.js'); ?>
<?php //ArView::layout('abc'); ?>
<!--登录页面-->
<div id="loginMask">
    <div id="loginWrap">
        <div>
            <img src="<?php echo arCfg('PATH.GPUBLIC'); ?>images/logodachuanit-1.png" alt="logo" width=100 class="center-block">
        </div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default mzm-panel-default-fixed">
                <form id="login" class="panel-collapse collapse mzm-collapsing-fixed">
                    <div class="panel-body">
                        <div class="input-group has-feedback">
                            <span class="input-group-addon" style="width:70px">用户名</span>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <input type="text" class="form-control" name="tel" placeholder="请输入用户名">
                        </div>
                        <br>
                        <div class="input-group has-feedback">
                            <span class="input-group-addon" style="width:70px">密码</span>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <input type="password" maxlength="15" class="form-control" name="pwd" placeholder="请输入密码">
                        </div>
                        <br>
                        <div class="input-group has-feedback">
                            <span class="input-group-addon" style="width:70px">验证码</span>
                            <span class="glyphicon form-control-feedback" aria-hidden="true" style="right:80px"></span>
                            <input type="text" class="form-control" name="verifyCode" placeholder="验证码">
                            <span class="input-group-addon" style="padding: 0 5px;"><img style="width: 92px" src="<?php echo arU('Index/confirm'); ?>" onclick="javascript:this.src='<?php echo arU('Index/confirm'); ?>?tm='+Math.random();"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel panel-default mzm-panel-default-fixed">
                <form id="weix_login" class="panel-collapse collapse mzm-collapsing-fixed">
                    <div class="panel-body text-center">
                        <?php $loginurl = arModule('wechat.Base')->loginUrl();?>
                        <a href="<?php echo $loginurl; ?>">
                            <img src="<?php echo arU('/wechat/Api/qrcode', array('data' => urlencode($loginurl)), 'FULL');?>" alt="微信图片" width="150" height="150">
                        </a>
                    </div>
                </form>
            </div>
            <div class="panel panel-default mzm-panel-default-fixed">
                <form id="signup" class="panel-collapse collapse mzm-collapsing-fixed">
                    <div class="panel-body">
                        <div class="input-group has-feedback">
                            <span class="input-group-addon" style="width:82px">用户名</span>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <input type="text" class="form-control" name="tel" placeholder="手机号码">
                        </div>
                        <br>
                        <div class="input-group has-feedback">
                            <span class="input-group-addon" style="width:82px">用户密码</span>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <input type="password"  maxlength="15" class="form-control" name="pwd" placeholder="6~15位(字母数字)">
                        </div>
                        <br>
                        <div class="input-group has-feedback">
                            <span class="input-group-addon" style="width:82px">再次输入</span>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <input type="password"  maxlength="15" class="form-control" name="pwd2" placeholder="再次输入密码" disabled="disabled">
                        </div>
                        <br>
                        <div class="input-group has-feedback">
                            <span class="input-group-addon" style="width:82px">验证码</span>
                            <span class="glyphicon form-control-feedback" aria-hidden="true" style="right:80px"></span>
                            <input type="text" class="form-control" name="verifyCode" placeholder="验证码">
                            <span class="input-group-addon" style="padding: 0 5px;"><img style="height: 25px;width: 70px" src="<?php echo arU('Index/confirm'); ?>" onclick="javascript:this.src='<?php echo arU('Index/confirm'); ?>?tm='+Math.random();"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-heading mzm-panel-heading-fixed">
                <input type="button" id="loginBtn" class="btn btn-primary btn-lg btn-block mzm-btn-toggle" value="登录" data-toggle="collapse" data-parent="#accordion" href="#login">
            </div>
            <div class="panel-heading mzm-panel-heading-fixed">
                <input type="button" id="weix_login_btn" class="btn btn-default btn-lg btn-block mzm-btn-toggle" value="微信登陆" data-toggle="collapse" data-parent="#accordion" href="#weix_login">
            </div>
            <div class="panel-heading mzm-panel-heading-fixed">
                <input type="button" id="signupBtn" class="btn btn-default btn-lg btn-block mzm-btn-toggle" value="注册" data-toggle="collapse" data-parent="#accordion" href="#signup">
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <div class="modal-main" style="padding-top: 10px"></div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">
               确定
            </button>
         </div>
      </div>
   </div>
</div>
<script>
    window.onload=function(){
        indexJs();
    };
</script>
<!--登录页面 END-->
