<?php ArView::load('pm3.css'); ?>
<?php ArView::load('pm3.js'); ?>

<!-- 人员审核 -->
<div class="application-record">
	<div class="personnel-audit">
		<p class="time">今天</p>
		<div class="container">
			<div class="pull-left">
				<img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/weixin.png">
			</div>
			<div class="col-xs-8">
				<p><a href="#">微信</a></p><p>请求加入<a href="#">码云众包</a></p>
			</div>
			<div class="pull-right">
				<button type="button" class="btn btn-success btn-sm accept">接受</button>
				<span class="have-accepted">已添加</span>
			</div>
		</div>
		<hr class="boundary">
	</div>
	<div class="personnel-audit">
		<p class="time">昨天</p>
		<div class="container">
			<div class="pull-left">
				<img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/zhihu.png">
			</div>
			<div class="col-xs-8">
				<p><a href="#">知乎</a></p><p>请求加入<a href="#">码云众包</a></p>
			</div>
			<div class="pull-right">
				<button type="button" class="btn btn-success btn-sm accept">接受</button>
				<span class="have-accepted">已添加</span>
			</div>
		</div>
		<hr class="boundary">
	</div>
	<div class="personnel-audit">
		<p class="time">2017.1.1</p>
		<div class="container">
			<div class="pull-left">
				<img src="<?php echo arCfg('PATH.PUBLIC'); ?>images/weibo.png">
			</div>
			<div class="col-xs-8">
				<p><a href="#">微博</a></p><p>请求加入<a href="#">码云众包</a></p>
			</div>
			<div class="pull-right">
				<button type="button" class="btn btn-success btn-sm accept">接受</button>
				<span class="have-accepted">已添加</span>
			</div>
		</div>
		<hr class="boundary">
	</div>
</div>