<?php ArView::load('wqQuickoaCss.css'); ?>
<div id="um_my_task" class="container-fluid" style="padding-top: 15px;">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    任务<span class="task-num">1</span>
                    <a href="<?php echo arU('Index/um_my_taskinfo',array('id'=>'aa')) ?>" class="pull-right info-btn">
                        任务详情
                        <span class="glyphicon glyphicon-arrow-right pull-right"></span>
                    </a>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th class="w87">任务名称</th>
                            <td>哇哈哈</td>
                        </tr>
                        <tr>
                            <th>所属项目</th>
                            <td>呵呵哈</td>
                        </tr>
                        <tr>
                            <th>当前处理人</th>
                            <td>二狗</td>
                        </tr>
                        <tr>
                            <th>处理状态</th>
                            <td>紧急</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    任务<span class="task-num">2</span>
                    <a href="<?php echo arU('Git/gitInfo') ?>" class="pull-right info-btn">
                        任务详情
                        <span class="glyphicon glyphicon-arrow-right pull-right"></span>
                    </a>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th class="w87">任务名称</th>
                            <td>哇哈哈</td>
                        </tr>
                        <tr>
                            <th>所属项目</th>
                            <td>呵呵哈</td>
                        </tr>
                        <tr>
                            <th>当前处理人</th>
                            <td>二狗</td>
                        </tr>
                        <tr>
                            <th>处理状态</th>
                            <td>紧急</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    任务<span class="task-num">3</span>
                    <a href="<?php echo arU('Git/gitInfo') ?>" class="pull-right info-btn">
                        任务详情
                        <span class="glyphicon glyphicon-arrow-right pull-right"></span>
                    </a>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th class="w87">任务名称</th>
                            <td>哇哈哈</td>
                        </tr>
                        <tr>
                            <th>所属项目</th>
                            <td>呵呵哈</td>
                        </tr>
                        <tr>
                            <th>当前处理人</th>
                            <td>二狗</td>
                        </tr>
                        <tr>
                            <th>处理状态</th>
                            <td>紧急</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>