<?php ArView::load('wqQuickoaCss.css'); ?>
<div id="um_my_taskinfo">
    <div class="panel panel-default">
        <div class="panel-heading">
            任务信息
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <th class="w87">任务名称</th>
                    <td>哇哈哈</td>
                </tr>
                <tr>
                    <th>所属项目</th>
                    <td>呵呵哈</td>
                </tr>
                <tr>
                    <th>任务内容</th>
                    <td>你是一个好人，感谢你一直默默地为我占座位。哇哈哈哈哈哈哈</td>
                </tr>
                <tr>
                    <th>跟踪信息</th>
                    <td>卧似一张弓</td>
                </tr>
                <tr>
                    <th>状态</th>
                    <td>不知道</td>
                </tr>
            </table>
            <div class="change-statues">
                <a href="javascript:;" class="btn btn-primary btn-block">更爱状态</a>
            </div>
        </div>
    </div>
</div>

<!-- 弹窗 -->
<div id="popup_content">
    <form>
        <div>
            <label for="">指派给</label>
            <input type="text">
        </div>
        <div>
            <label for="">状态</label>
            <select name="" id="">
                <option value="0">成功</option>
                <option value="1">失败</option>
            </select>
        </div>
        <div>
            <span>内容</span>
            <p>时间计算机上计算机上计算机及时间时间是计算机</p>
        </div>
    </form>
</div>

<script>
    window.onload = function(){
        taskInfoJs();
    }
</script>