		<!--底部-->
		<div class="footer">
		    <div class="container">
		        <div class="row" style="margin-top: 25px;">
		            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
		                <div class="row">
		                    <div class="logo col-md-6 col-xs-5">
		                    </div>
		                    <div class="title hidden-xs col-md-6">
		                        <span>码 云</span>
		                    </div>
		                </div>
		                <p>
		                    400-940-1207
		                </p>
		                <p>
		                    codecloud@coding.net
		                </p>
		                <p class="hyperlink">
		                    <a href="#">
		                        <img class="link" src="<?php echo arCfg('PATH.PUBLIC'); ?>images/weixin.png"/>
		                    </a>
		                    <a href="#">
		                        <img class="link" src="<?php echo arCfg('PATH.PUBLIC'); ?>images/weibo.png"/>
		                    </a>
		                    <a href="#">
		                        <img class="link" src="<?php echo arCfg('PATH.PUBLIC'); ?>images/zhihu.png"/>
		                    </a>
		                </p>
		                <p>
		              	            深圳 | 北京 | 上海 | 成都
		                </p>
		            </div>
		            <div class="col-lg-7 col-md-7 col-sm-6 hidden-xs">
		                <div class="col-lg-6 col-md-6 col-sm-5 hidden-xs">
		                    <div class="aboutUs">关于码云 </div>
		                    <p>
		                        <a href="#">联系我们 </a>
		                    </p>
		                    <p>
		                        <a href="#"> 码云介绍 </a>
		                    </p>
		                    <p>
		                        <a href="#"> 招贤纳士</a>
		                    </p>
		                    <p>
		                        <a href="#">全方位开发保障</a>
		                    </p>
		                </div>
		                <div class="col-lg-6 col-md-6 col-sm-7 hidden-xs">
		                    <div class="useHelp">使用帮助</div>
		                    <p>
		                        <a href="#">如何发布项目需求？</a>
		                    </p>
		                    <p>
		                        <a href="#">如何为发布的项目需求定价？</a>
		                    </p>
		                    <p>
		                        <a href="#">如何保障项目的进度和质量？</a>
		                    </p>
		                    <p>
		                        <a href="#">关于更多>></a>
		                    </p>
		                </div>
		            </div>
		            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 pull-right">
		                <p>下载码云APP</p>
		                <img height="140px" src="<?php echo arCfg('PATH.PUBLIC'); ?>images/erweima.jpg" width="100%"/>
		            </div>
		        </div>
		        <div class="copyright col-xs-12">
		            <hr>
		                <p>
		                    Designed and developed by Balance ,Copyright  2016 by Balance.
		                    <br>
		                        ICP备案号： 蜀ICP备9401207号
		                    </br>
		                </p>
		            </hr>
		        </div>
		    </div>
		</div>
	</div>
</body>
<?php ArView::end(); ?>
</html>