<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 项目管理
    <span class="c-gray en">&gt;</span> 项目回收
    <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="pd-20">
    <form action="" method="get">
        <div class="text-c"> 项目：
            <input type="text" name="keyword" value="<?php echo $keyword ?>" class="input-text" style="width:250px"
                   placeholder="输入项目名称">
            <button type="submit" class="btn btn-success" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            <button type="button" class="btn btn-success" id="reset" value="清空" style="margin-left: 10px">清空</button>

        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
         <span class="l">
             <input type="button" value="批量删除" class="btn btn-danger radius ajax-post confirm"
                    url="<?php echo arU('deleteProduct'); ?>"/>
             <input type="button" value="批量还原" class="btn btn-primary radius ajax-post"
                    url="<?php echo arU('removeProduct',array('online'=>0)); ?>"/>
             <!--<input type="button" value="全部审核" class="btn btn-primary radius ajax-post"-->
             <!--url="<?php echo arU('changeStatus',array('audit'=>1)); ?>"/>-->
        </span>
        <span class="r">共有数据：<strong><?php echo $totalCount ?></strong> 条</span>
    </div>

    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="16">项目列表</th>
        </tr>
        <tr class="text-c">
            <th><input name="" type="checkbox" class="selectAll" value=""></th>
            <th>编号</th>
            <th>项目名称</th>
            <th>金额(元)</th>
            <th>合同日期</th>
            <th>需求描述</th>
            <th>开发进度</th>
            <th>发布人</th>
            <th>发布日期</th>
            <th>开发周期</th>
            <th>二维码</th>
            <th>成员</th>
            <th>项目状态</th>
            <th>审核状态</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody>
        <?php foreach($rows as $row) { ?>
        <tr class="text-c">
            <td width="4%"><input class="ids" type="checkbox" name="id[]" value="<?php echo $row['id']?>"/></td>
            <td width="4%"><?php echo $row['id']?></td>
            <td width="8%" style="text-align: left"><?php echo $row['i_name']?></td>
            <td width="6%"><?php echo $row['money']?></td>
            <td width="6%"><?php echo $row['contractDate']?></td>
            <td width="13%" style="text-align: left"><?php echo $row['requirement']?></td>
            <td width="6%"><?php echo $row['status']?></td>
            <td width="6%"><?php echo $row['publisherName']?></td>
            <td width="6%"><?php echo $row['releaseDate']?></td>
            <td width="5%"><?php echo $row['days']?></td>
            <td width="8%"><?php echo $row['img']?></td>
            <td width="13%" style="text-align: left"><?php echo $row['users']?></td>
            <td width="5%"><?php echo $handleOnline[$row['online']]?></td>
            <td width="5%">
                <?php if($row['audit']==1) { ?>
                <a href="<?php echo arU('changeStatus',array('id'=>$row['id'],'audit'=>(1-$row['audit']),'publisher'=>$row['publisher'],'i_name'=>$row['i_name'])); ?>"
                   class="label label-success radius ajax-get">已审核</a>
                <?php } else { ?>
                <a href="<?php echo arU('changeStatus',array('id'=>$row['id'],'audit'=>(1-$row['audit']),'publisher'=>$row['publisher'],'i_name'=>$row['i_name'])); ?>"
                   class="label radius ajax-get">未审核</a>
                <?php } ?>
            </td>

            <td class="td-manage">
                <a title="还原" href="<?php echo arU('removeProduct',array('id'=>$row['id'],'online'=>'0')); ?>"
                   class="ml-5 ajax-get"
                   style="text-decoration:none ">
                    <i class="Hui-iconfont" style="font-size: 16px">&#xe66b;</i>
                </a>
                <a title="彻底删除" href="<?php echo arU('deleteProduct',array('id'=>$row['id'])); ?>"
                   class="ml-5 ajax-get confirm"
                   style="text-decoration:none ;margin-left: 12px">
                    <i class="Hui-iconfont" style="font-size: 16px">&#xe6e2;</i>
                </a>
            </td>
        </tr>
        <?php } ?>
        </tbody>

    </table>
    <div class="pagin" align="right">
        <ul class="paginList">
            <?php echo $pageHtml ?>
        </ul>
    </div>
</div>
<!--js部分-->
<script src="<?php echo arCfg('PATH.GPUBLIC') ?>js/jquery.form.js"></script>
<script src="<?php echo arCfg('PATH.GPUBLIC') ?>js/common.js"></script>
<script src="<?php echo arCfg('PATH.GPUBLIC') ?>js/jquery.validate.min.js"></script>
<script src="<?php echo arCfg('PATH.GPUBLIC') ?>js/layer/layer.js"></script>
<script src="<?php echo arCfg('PATH.GPUBLIC') ?>js/layui/layui.js"></script>
<script src="<?php echo arCfg('PATH.PUBLIC') ?>js/H-ui.js"></script>
<script src="<?php echo arCfg('PATH.PUBLIC') ?>js/H-ui.admin.js"></script>
<script>
    $('tbody tr:nth-child(odd)').css("background-color", "#F5F5F5");
    // 清空搜索框
    $('#reset').click(function () {
        $(this).prevAll('input').prop('value', "");
    });
</script>