<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-article-add">
        <input type="hidden" name="id" value="<?php if(isset($preList['id'])) { echo $preList['id']; } ?>">
        <?php if(isset($preList['user_number'] )) {  ?>
        <div class="row cl">
            <label class="form-label col-2">编号：</label>
            <label class="form-label col-3" style="text-align: left"><?php echo $preList['user_number'] ?></label>
        </div>
        <?php } ?>
        <?php if(isset($preList['nickname'] )) {  ?>
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>昵称：</label>
            <label class="form-label col-3" style="text-align: left"><?php echo $preList['nickname'] ?></label>
        </div>
        <?php } ?>
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>密码：</label>
            <div class="formControls col-2" style="position: relative;">
                <input type="text" class="input-text" placeholder="" name="password">
            </div>
        </div>

        <div class="row cl">
            <div class="col-10 col-offset-2">
                <button class="btn btn-secondary radius ajax-post" type="submit">&nbsp;&nbsp;修改&nbsp;&nbsp;</button>
                <button class="btn btn-default radius" type="button" id="reset" style="margin-left: 20px">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>


<!--js部分-->
<script src="<?php echo arCfg('PATH.GPUBLIC') ?>js/jquery.form.js"></script>
<script src="<?php echo arCfg('PATH.GPUBLIC') ?>js/common.js"></script>
<script src="<?php echo arCfg('PATH.GPUBLIC') ?>js/jquery.validate.min.js"></script>
<script src="<?php echo arCfg('PATH.GPUBLIC') ?>js/layer/layer.js"></script>
<script src="<?php echo arCfg('PATH.GPUBLIC') ?>js/layui/layui.js"></script>
<script src="<?php echo arCfg('PATH.PUBLIC') ?>js/H-ui.js"></script>
<script src="<?php echo arCfg('PATH.PUBLIC') ?>js/H-ui.admin.js"></script>
<script src="<?php echo arCfg('PATH.PUBLIC') ?>js/laydate/laydate.js"></script>
<script src="<?php echo arCfg('PATH.PUBLIC') ?>js/bootstrap-select.js"></script>
<script>
    // 清空搜索框
    $('#reset').click(function () {
        $(this).parent().parent().parent().find('textarea').prop('value', "");
        $(this).parent().parent().parent().find('input').prop('value', "");
        $(this).parent().parent().parent().find('option').prop("selected", false);
        ;
    });

</script>