<?php ArView::load('wqQuickoaCss.css'); ?>
<div id="git_info">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                仓库名称
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th style="width:80px;">仓库名称</th>
                        <td>whahah</td>
                    </tr>
                    <tr>
                        <th>仓库地址</th>
                        <td>localhost/quickoa.com</td>
                    </tr>
                    <tr>
                        <th>所属项目</th>
                        <td>quickoa</td>
                    </tr>
                    <tr>
                        <th>仓库描述</th>
                        <td>今天是个好天气简介</td>
                    </tr>
                    <tr>
                        <th>成员信息</th>
                        <td class="parter-info"><span>王小二</span><span>小狐狸</span><span>九叔</span><span>诸葛蛮子</span></td>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <td>审核</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>