<?php ArView::load('wqQuickoaCss.css'); ?>
<?php //ArView::layout('git'); ?>
<div id="my_gitlist" class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    quickoa
                    <a href="<?php echo arU('Git/gitInfo') ?>" class="pull-right info-btn">
                        详情
                        <span class="glyphicon glyphicon-arrow-right pull-right"></span>
                    </a>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th class="w76">所属项目</th>
                            <td>哇哈哈</td>
                        </tr>
                        <tr>
                            <th>仓库地址</th>
                            <td><a href="javascript:;">localhost/quickoa/Git/applyGit</a></td>
                        </tr>
                        <tr>
                            <th>仓库描述</th>
                            <td>
                                <p>哇哈哈简介简介军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-warning btn-sm">禁用</button>
                    <button class="btn btn-success btn-sm">启用</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    quickoa
                    <a href="<?php echo arU('Git/gitInfo') ?>" class="pull-right info-btn">
                        详情
                        <span class="glyphicon glyphicon-arrow-right pull-right"></span>
                    </a>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th class="w76">所属项目</th>
                            <td>哇哈哈</td>
                        </tr>
                        <tr>
                            <th>仓库地址</th>
                            <td><a href="javascript:;">localhost/quickoa/Git/applyGit</a></td>
                        </tr>
                        <tr>
                            <th>仓库描述</th>
                            <td>
                                <p>哇哈哈简介简介军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-warning btn-sm">禁用</button>
                    <button class="btn btn-success btn-sm">启用</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    quickoa
                    <a href="<?php echo arU('Git/gitInfo') ?>" class="pull-right info-btn">
                        详情
                        <span class="glyphicon glyphicon-arrow-right pull-right"></span>
                    </a>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th class="w76">所属项目</th>
                            <td>哇哈哈</td>
                        </tr>
                        <tr>
                            <th>仓库地址</th>
                            <td><a href="javascript:;">localhost/quickoa/Git/applyGit</a></td>
                        </tr>
                        <tr>
                            <th>仓库描述</th>
                            <td>
                                <p>哇哈哈简介简介军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军军</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-warning btn-sm">禁用</button>
                    <button class="btn btn-success btn-sm">启用</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 仓库模板 -->
<div id="git_modal" style="display: none;">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span></span>
                <a href="<?php echo arU('Git/gitInfo') ?>" class="pull-right info-btn">
                    详情
                    <span class="glyphicon glyphicon-arrow-right pull-right"></span>
                </a>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th class="w76">所属项目</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>仓库地址</th>
                        <td><a href="javascript:;"></a></td>
                    </tr>
                    <tr>
                        <th>仓库描述</th>
                        <td>
                            <p></p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-warning">禁用</button>
                <button class="btn btn-default">启用</button>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function(){
        myGitJs();
    }
</script>
