<input type="hidden" id="TenantId" name="TenantId" value=""/>
<div class="header"></div>
<div class="loginWraper">
    <div id="loginform" class="loginBox">
        <form class="form form-horizontal" action="" method="post">
            <div class="row cl">
                <label class="form-label col-3"><i class="Hui-iconfont">&#xe60d;</i></label>
                <div class="formControls col-8">
                    <input name="username" type="text" placeholder="账户" class="input-text size-L">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3"><i class="Hui-iconfont">&#xe60e;</i></label>
                <div class="formControls col-8">
                    <input name="password" type="password" placeholder="密码" class="input-text size-L">
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-8 col-offset-3">
                    <input class="input-text size-L" name="verify" type="text" placeholder="验证码" style="width:150px;">
                    <img class="changeImg" src="<?php echo arU('confirm'); ?>" alt="验证码">
                    <a id="kanbuq" class="changeImg" href="javascript:;" style="font-size:14px; ">看不清，换一张</a>
                </div>
            </div>
            <div class="row">
                <div class="formControls col-8 col-offset-3">
                    <label for="online">
                        <a href="<?php echo arU('register'); ?>" style="font-size:14px; ">没有帐号？请注册</a>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="formControls col-8 col-offset-3">
                    <input name="" type="submit" class="btn btn-success radius size-L ajax-post"
                           value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
                    <input style="margin-left: 50px" name="" type="reset" class="btn btn-default radius size-L"
                           value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer">Copyright © 1998 - 2008 XXX XX. All Rights Reserved</div>

<!--js部分-->
<script src="<?php echo arCfg('PATH.GPUBLIC') ?>js/jquery.form.js"></script>
<script src="<?php echo arCfg('PATH.GPUBLIC') ?>js/common.js"></script>
<script src="<?php echo arCfg('PATH.GPUBLIC') ?>js/layer/layer.js"></script>
<script>
    // 更换图片验证码
    $('.changeImg').click(function () {
        var src = $('.changeImg').prop('src');
        $('.changeImg').prop("src", src + '?s' + Math.random());
    });
</script>